page {
  width: 100%;
  height: 100%;
}
.explore_container {
  width: 100%;
  height: 100%;
}
.explore_container .navigator {
  height: 108rpx;
  width: 100%;
  background-color: #fff;
  font-size: 15rpx;
  white-space: nowrap;
  top: 0;
  left: 0;
  z-index: 999;
}
.explore_container .navigator .nav {
  height: 105rpx;
  line-height: 105px;
}
.explore_container .navigator .nav .nav-item {
  display: inline-block;
  margin-left: 20rpx;
  margin-right: 20rpx;
  text-align: center;
}
